
<nb-layout-header fixed>
  <div class="container">
    <div class="header-container">
      <div class="logo-container">
        <a class="logo" routerLink='/page'>
          <nb-icon icon="arrow-left-outline" ></nb-icon>
          <span>StudentSatisfaction</span>
          <nb-icon icon="arrow-right-outline" ></nb-icon>
        </a>
      </div>
    </div>

    <div class="header-container">
      <nb-actions size="small">

        <nb-action class="control-item">
          <nb-search type="rotate-layout" ></nb-search>
        </nb-action>

        <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
        <nb-action class="control-item" icon="bell-outline" ></nb-action>
        <nb-action class="user-action">
          <nb-user
          [nbContextMenu]="items"
          name="{{user?.name}}"
          picture="../../../assets/images/codeninja.png">
          </nb-user>
        </nb-action>

      </nb-actions>
    </div>
  </div>
</nb-layout-header>
